<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
      <add key="endpoint" value=""
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="authKey" value=""
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>>      
    </appSettings>
</configuration>
