<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
      <add key="endpoint" value="https://ryancrawcour.documents.azure.com:443/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="authKey" value="uKVtCQ4+9T5jRhIVPzSxzfJK9hqB0bpfuFLCNuBxSkZGt3pljMmuGvC9o54a7cQNSiFst7bTN+zKs6E7QwdDgw=="
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="test" value="test="/>      
    </appSettings>
</configuration>
